# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'
          cache: 'gradle'
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 20

      - name: Login to Docker Hub
        uses: docker/login-action@v3.7.0
        if: github.actor != 'dependabot[bot]'
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: print versions
        run: |
          java -version
          node --version
          npm --version
          docker version
          docker info
          ip a

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: java, javascript

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build
        env:
          HOST_FOR_SELENIUM: "172.17.0.1"

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: github.actor != 'dependabot[bot]'
        with:
          files: build/test-results/test/*.xml

      - name: publish screenshots
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: screenshots
          path: build/screenshot/

      - name: publish spotbugs
        if: github.actor != 'dependabot[bot]'
        uses: jwgmeligmeyling/spotbugs-github-action@master
        with:
          path: 'build/reports/spotbugs/*.xml'

      - name: publish pmd
        if: github.actor != 'dependabot[bot]'
        uses: jwgmeligmeyling/pmd-github-action@master
        with:
          path: 'build/reports/pmd/*.xml'

      - name: Upload code coverage to codecov
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          fail_ci_if_error: true
          report-type: coverage
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Test Results to codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          report-type: test_results
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: build docker image
        run: docker build -t demo-spring-jsf .

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
